.character-details {
  max-width: fit-content;
  position: relative;
  min-width: 350px;
  padding: 10px;
  width: 100%;
  border: solid grey 1px;
  background: #efefef;
  flex: 1;
}

.character-data > span:first-child {
  width: 100px;
  display: inline-block;
  font-weight: 500;
}
